<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Prologue by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{asset('assets/css/main.css?v=9')}}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
						<!--	<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>-->
							{% if app.user %}
				          <h1 id="title">
				              {{ app.user.username }}
				          </h1>
				          <p>
				              <a href="{{ path('app_logout') }}">Logout</a>
				          </p>
								{% else %}
								<p>
									<form method="post">
									    {% if error is defined %}
									    {% if error %}
									        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									    {% endif %}
									    {% endif %}
									    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
									    <label for="inputLogin">Login</label>
									    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
									    <label for="inputPassword">Password</label>
									    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

									    <input type="hidden" name="_csrf_token"
									           value="{{ csrf_token('authenticate') }}"
									    >

									    {#
									        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
									        See https://symfony.com/doc/current/security/remember_me.html

									        <div class="checkbox mb-3">
									            <label>
									                <input type="checkbox" name="_remember_me"> Remember me
									            </label>
									        </div>
									    #}

									    <button class="btn btn-lg btn-primary" type="submit">
									        Sign in
									    </button>
									</form>
										<!--<a href="{{ path('app_login') }}">Login</a>-->
								</p>
				      {% endif %}
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/" id="top-link"><span class="icon solid fa-home">ACCUEIL</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Les Tournois</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
								  {% if  app.user.roles[0] == 'ROLE_ADMIN' %}
											<li><a href="/admin"><span class="icon solid fa-th">gerer le site</span></a></li>
									{% endif %}
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								{% block h2 %}{% endblock %}

							{% block body1 %}{% endblock %}
							</header>

							<footer>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="one dark cover">
						<div class="container">

							<header>
								<h2>Les Tournois</h2>
							</header>
							{% block p %} {% endblock %}

							{% block body2 %} {% endblock %}
								</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>Ce site a été créé pour faciliter
								la gestion des événements et faciliter les utilisateurs à avoir accès aux informations sur les
								événements organisés et les résultats des tournois en cours.
								Vous pouvez inscrire votre équipe dans un tournoi à venir s'il n'est pas déjà complet.
								Vous pouvez aussi contacter les administrateurs du sites dans l'onglet contacts pour plus de renseignements.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p></p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; GUEYE Fagaye Sarr && Faye Elie.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="{{asset('assets/js/jquery.min.js')}}"></script>
			<script src="{{asset('assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{asset('assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{asset('assets/js/browser.min.js')}}"></script>
			<script src="{{asset('assets/js/breakpoints.min.js')}}"></script>
			<script src="{{asset('assets/js/util.js')}}"></script>
			<script src="{{asset('assets/js/main.js')}}"></script>

	</body>
</html>
